*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

html, body {
    overflow: hidden;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, var(--colorDark1) 0%, var(--colorDark2) 100%);
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 1.5rem;
}

.tab-container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
    text-align: center;
}

.tab.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container {
    margin-block: 2rem;
    width: 100%;
}

.btn {
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.grant-location-container,
.loading-container,
.user-info-container,
.error-container {
    display: none;
}

.grant-location-container.active,
.loading-container.active,
.user-info-container.active,
.error-container.active {
    display: flex;
}

.grant-location-container img,
.loading-container img {
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
    font-size: 1.5rem;
    font-weight: 600;
}

.grant-location-container p:last-of-type {
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 1.7rem;
    letter-spacing: 0.75px;
}

.loading-container p {
    text-transform: uppercase;
}

.name {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p {
    font-size: 1.5rem;
}

.name img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.user-info-container p {
    font-size: 1.25rem;
    font-weight: 200;
}

.user-info-container img {
    width: 80px;
    height: 80px;
}

.parameter-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.parameter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    gap: 5px 0;
}

.parameter img {
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.parameter p:last-of-type {
    font-size: 0.9rem;
    font-weight: 200;
}

.form-container {
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}

.form-container.active {
    display: flex;
}

.form-container input {
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus {
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 1px;
}

.error-container {
    display: none;
    flex-direction: column;
}

.error-container.active {
    display: flex;
}

.error-container p {
    font-size: 1.25rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    .tab-container {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        font-size: 0.7rem;
        padding: 6px 12px;
    }

    .parameter img {
        width: 30px;
        height: 30px;
    }

    .parameter p:first-of-type {
        font-size: 0.9rem;
    }

    .parameter p:last-of-type {
        font-size: 0.8rem;
    }

    .form-container input {
        font-size: 0.8rem;
    }
}
